$bodycolor: #2c220d;
$backgroundColor: #d5bf99;
$linkcolor: #6e5723;
$brownborder: #875960;
$englishFont: 'DeutscheZierschriftRegular', cursive;
$bodyFont: 'IM Fell Great Primer', serif;
$pixelFont: 'VT323';
@mixin sprite($url, $y, $x, $repeat, $size: 100%){
	background: url($url) $y $x $repeat;
	background-size: $size $size;
}

@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400italic);
@import url(http://fonts.googleapis.com/css?family=VT323);
@font-face{
	font-family: 'DeutscheZierschriftRegular';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/deutschezierschrift-webfont.eot');
	src: url('fonts/deutschezierschrift-webfont.eot?iefix') format('eot'),
	url('fonts/deutschezierschrift-webfont.woff') format('woff'),
	url('fonts/deutschezierschrift-webfont.ttf') format('truetype'),
	url('fonts/deutschezierschrift-webfont.svg#webfont7VbnShq8') format('svg');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;

	border: 0;
}

html{
	background: $backgroundColor;
}

body{
	font-family: $bodyFont;
	font-size: 18px;
	overflow-x: hidden;
	height: 900%;
	color: $bodycolor;
	a{
		text-decoration: none;
		color: $linkcolor;
		&:hover{
			color: lighten($linkcolor, 20%);
		}
	}
	article a, footer a{
		text-decoration: underline;
	}
	strong{
		font-weight: bold;
	}
	p + p{
		margin-top: 10px;
	}
	h1, h2, h3{
		font-family: $englishFont;
	}
	h2{
		font-size: 28px;
		margin-bottom: 10px;
	}
	h3{
		margin: 5px 0;
	}
	h1{
		font-size: 38px;
		margin-bottom: 15px;
		text-align: center;
		color: #333;
	}
}

header{
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 340px;
}

.shield{
	font-family: $englishFont;
	position: fixed;
	z-index: 200;
	top: 30px;
	left: 0;
	width: 100%;
	#shield{
		font-size: 45px;
		width: 275px;
		height: 150px;
		margin: 0 auto;
		text-align: center;
		@include sprite('images/sprite.png', -5px, -193px, no-repeat, 800px);
		.first{
			font-size: 22px;
			display: block;
			margin-bottom: -5px;
			padding-top: 19px;
		}
		.last{
			font-size: 45px;
			position: relative;
			text-decoration: none;
			color: #222;
		}
	}
}

section{
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 100%;
	padding: 0 7%;
	-webkit-transform: translate3d(0,0,0);
	text-align: center;
	.header-background{
		position: absolute;
		left: 0;
		margin-top: -15px;
	}
	&#about{
		z-index: 20;
		padding-top: 180px;
		background: $backgroundColor;
		box-shadow: 0 23px 45px -14px rgba(0,0,0,.75);
	}
	&#father{
		z-index: 19;
		width: 3000px;
		padding-left: 1100px;
		background: url("/images/boards.jpg") top left;
		font-size: 19vh;
		figure{
			position: relative;
			float: left;
			top: 50%;
			height: 80%;
			margin-right: 20px;
			transform: translateY(-50%) rotate(1.5deg);
			width: 2.5em;
			background-color: $backgroundColor;
			background-image: url("/images/wedding.jpg");
			background-size: cover;
			border: 8px solid black;
			&:nth-child(2){
				transform: translateY(-50%) rotate(-1.5deg);
				background-image: url("/images/harley.jpg");
			}
			&:nth-child(3){
				transform: translateY(-50%) rotate(1.5deg);
				background-image: url("/images/harley.jpg");
			}
			&:nth-child(4){
				transform: translateY(-50%) rotate(-1.5deg);
				background-image: url("/images/harley.jpg");
			}

			figcaption{
				font-family: $pixelFont;
				font-size: 0.16em;
				position: absolute;
				padding: 5px 0;
				bottom: -5px;
				background-color: white;
				width: 100%;
				border-bottom: 8px solid black;
			}
		}
	}
	&#developer{
		z-index: 20;
		width: 100%;
		background: url('/images/grass.png') 0 0;
		.inner{
			position: relative;
			height: 100%;
		}
		#dragon-sprite{
			position: absolute;
			z-index: 21;
			left: 50%;
			transform: translateX(-50%);
		}
		#cave{
			position: absolute;
			z-index: 22;
			top: -90px;
			left: 50%;
			transform: translateX(-50%);
		}
		.text-box{
			font-family: $pixelFont;
			font-size: 25px;
			position: fixed;
			z-index: 24;
			top: 90%;
			left: 50%;
			width: 80%;
			padding: 10px;
			-webkit-transform: translate3d(0,0,0);
					transform: translateY(-100%) translateX(-50%);
			opacity: 0;
			color: white;
			border: 5px solid white;
			border-radius: 10px;
			background-color: blue;
			span{
				color: blue;
			}
		}
		.tree-tile{
			position: absolute;
			z-index: 23;
			top: 0;
			left: -175px;
			width: 320px;
			height: 1000%;
			margin-top: 275px;
			-webkit-transform: translate3d(0,0,0);
			background: url(/images/trees.png) top left repeat-y;
			&.right{
				right: -175px;
				left: auto;
			}
			&:before{
				position: absolute;
				top: -81px;
				display: block;
				width: 320px;
				height: 81px;
				content: '';
				background: url(/images/tree-tops.png) top left no-repeat;
			}
		}
	}
	&#services{
		z-index: 30;
		width: 100%;
		height: 300%;
		background: green;
		box-shadow: 0 -4px 45px 0 rgba(0,0,0,.75);
	}
}
